:root {
  --md-source: #f8bd0a;
  --md-sys-color-primary: #acd19b;
  --md-sys-color-primary-rgb: 172 209 155;
  --md-sys-color-on-primary: #193711;
  --md-sys-color-on-primary-rgb: 25 55 17;
  --md-sys-color-primary-container: #304e25;
  --md-sys-color-primary-container-rgb: 48 78 37;
  --md-sys-color-on-primary-container: #c8edb5;
  --md-sys-color-on-primary-container-rgb: 200 237 181;
  --md-sys-color-secondary: #c1c9b9;
  --md-sys-color-secondary-rgb: 193 201 185;
  --md-sys-color-on-secondary: #2b3327;
  --md-sys-color-on-secondary-rgb: 43 51 39;
  --md-sys-color-secondary-container: #41493c;
  --md-sys-color-secondary-container-rgb: 65 73 60;
  --md-sys-color-on-secondary-container: #dde5d4;
  --md-sys-color-on-secondary-container-rgb: 221 229 212;
  --md-sys-color-tertiary: #b1cbcc;
  --md-sys-color-tertiary-rgb: 177 203 204;
  --md-sys-color-on-tertiary: #1c3435;
  --md-sys-color-on-tertiary-rgb: 28 52 53;
  --md-sys-color-tertiary-container: #334b4c;
  --md-sys-color-tertiary-container-rgb: 51 75 76;
  --md-sys-color-on-tertiary-container: #cde8e8;
  --md-sys-color-on-tertiary-container-rgb: 205 232 232;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-rgb: 255 180 171;
  --md-sys-color-on-error: #690005;
  --md-sys-color-on-error-rgb: 105 0 5;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-error-container-rgb: 147 0 10;
  --md-sys-color-on-error-container: #ffb4ab;
  --md-sys-color-on-error-container-rgb: 255 180 171;
  --md-sys-color-background: #1b1c19;
  --md-sys-color-background-rgb: 27 28 25;
  --md-sys-color-on-background: #e4e2de;
  --md-sys-color-on-background-rgb: 228 226 222;
  --md-sys-color-surface: #1b1c19;
  --md-sys-color-surface-rgb: 27 28 25;
  --md-sys-color-on-surface: #e4e2de;
  --md-sys-color-on-surface-rgb: 228 226 222;
  --md-sys-color-surface-variant: #454842;
  --md-sys-color-surface-variant-rgb: 69 72 66;
  --md-sys-color-on-surface-variant: #c5c7bf;
  --md-sys-color-on-surface-variant-rgb: 197 199 191;
  --md-sys-color-outline: #8f928a;
  --md-sys-color-outline-rgb: 143 146 138;
  --md-sys-color-outline-variant: #454842;
  --md-sys-color-outline-variant-rgb: 69 72 66;
  --md-sys-color-shadow: #000000;
  --md-sys-color-shadow-rgb: 0 0 0;
  --md-sys-color-scrim: #000000;
  --md-sys-color-scrim-rgb: 0 0 0;
  --md-sys-color-inverse-surface: #e4e2de;
  --md-sys-color-inverse-surface-rgb: 228 226 222;
  --md-sys-color-inverse-on-surface: #30312e;
  --md-sys-color-inverse-on-surface-rgb: 48 49 46;
  --md-sys-color-inverse-primary: #47673b;
  --md-sys-color-inverse-primary-rgb: 71 103 59;
  --md-sys-color-surface-tint: #acd19b;
  --md-sys-color-surface-tint-rgb: 172 209 155;
  --md-sys-color-surface-tint-color: #acd19b;
  --md-sys-color-surface-tint-color-rgb: 172 209 155;
  --md-sys-color-primary-light: #47673b;
  --md-sys-color-primary-light-rgb: 71 103 59;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-on-primary-light-rgb: 255 255 255;
  --md-sys-color-primary-container-light: #c8edb5;
  --md-sys-color-primary-container-light-rgb: 200 237 181;
  --md-sys-color-on-primary-container-light: #042101;
  --md-sys-color-on-primary-container-light-rgb: 4 33 1;
  --md-sys-color-secondary-light: #596153;
  --md-sys-color-secondary-light-rgb: 89 97 83;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-on-secondary-light-rgb: 255 255 255;
  --md-sys-color-secondary-container-light: #dde5d4;
  --md-sys-color-secondary-container-light-rgb: 221 229 212;
  --md-sys-color-on-secondary-container-light: #161e13;
  --md-sys-color-on-secondary-container-light-rgb: 22 30 19;
  --md-sys-color-tertiary-light: #4a6364;
  --md-sys-color-tertiary-light-rgb: 74 99 100;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-on-tertiary-light-rgb: 255 255 255;
  --md-sys-color-tertiary-container-light: #cde8e8;
  --md-sys-color-tertiary-container-light-rgb: 205 232 232;
  --md-sys-color-on-tertiary-container-light: #061f20;
  --md-sys-color-on-tertiary-container-light-rgb: 6 31 32;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-light-rgb: 186 26 26;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-light-rgb: 255 255 255;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-error-container-light-rgb: 255 218 214;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-on-error-container-light-rgb: 65 0 2;
  --md-sys-color-background-light: #fefcf8;
  --md-sys-color-background-light-rgb: 254 252 248;
  --md-sys-color-on-background-light: #1b1c19;
  --md-sys-color-on-background-light-rgb: 27 28 25;
  --md-sys-color-surface-light: #fefcf8;
  --md-sys-color-surface-light-rgb: 254 252 248;
  --md-sys-color-on-surface-light: #1b1c19;
  --md-sys-color-on-surface-light-rgb: 27 28 25;
  --md-sys-color-surface-variant-light: #e2e3db;
  --md-sys-color-surface-variant-light-rgb: 226 227 219;
  --md-sys-color-on-surface-variant-light: #454842;
  --md-sys-color-on-surface-variant-light-rgb: 69 72 66;
  --md-sys-color-outline-light: #757871;
  --md-sys-color-outline-light-rgb: 117 120 113;
  --md-sys-color-outline-variant-light: #c5c7bf;
  --md-sys-color-outline-variant-light-rgb: 197 199 191;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-shadow-light-rgb: 0 0 0;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-scrim-light-rgb: 0 0 0;
  --md-sys-color-inverse-surface-light: #30312e;
  --md-sys-color-inverse-surface-light-rgb: 48 49 46;
  --md-sys-color-inverse-on-surface-light: #f2f1ec;
  --md-sys-color-inverse-on-surface-light-rgb: 242 241 236;
  --md-sys-color-inverse-primary-light: #acd19b;
  --md-sys-color-inverse-primary-light-rgb: 172 209 155;
  --md-sys-color-surface-tint-light: #47673b;
  --md-sys-color-surface-tint-light-rgb: 71 103 59;
  --md-sys-color-surface-tint-color-light: #47673b;
  --md-sys-color-surface-tint-color-light-rgb: 71 103 59;
  --md-sys-color-primary-dark: #acd19b;
  --md-sys-color-primary-dark-rgb: 172 209 155;
  --md-sys-color-on-primary-dark: #193711;
  --md-sys-color-on-primary-dark-rgb: 25 55 17;
  --md-sys-color-primary-container-dark: #304e25;
  --md-sys-color-primary-container-dark-rgb: 48 78 37;
  --md-sys-color-on-primary-container-dark: #c8edb5;
  --md-sys-color-on-primary-container-dark-rgb: 200 237 181;
  --md-sys-color-secondary-dark: #c1c9b9;
  --md-sys-color-secondary-dark-rgb: 193 201 185;
  --md-sys-color-on-secondary-dark: #2b3327;
  --md-sys-color-on-secondary-dark-rgb: 43 51 39;
  --md-sys-color-secondary-container-dark: #41493c;
  --md-sys-color-secondary-container-dark-rgb: 65 73 60;
  --md-sys-color-on-secondary-container-dark: #dde5d4;
  --md-sys-color-on-secondary-container-dark-rgb: 221 229 212;
  --md-sys-color-tertiary-dark: #b1cbcc;
  --md-sys-color-tertiary-dark-rgb: 177 203 204;
  --md-sys-color-on-tertiary-dark: #1c3435;
  --md-sys-color-on-tertiary-dark-rgb: 28 52 53;
  --md-sys-color-tertiary-container-dark: #334b4c;
  --md-sys-color-tertiary-container-dark-rgb: 51 75 76;
  --md-sys-color-on-tertiary-container-dark: #cde8e8;
  --md-sys-color-on-tertiary-container-dark-rgb: 205 232 232;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-dark-rgb: 255 180 171;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-dark-rgb: 105 0 5;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-error-container-dark-rgb: 147 0 10;
  --md-sys-color-on-error-container-dark: #ffb4ab;
  --md-sys-color-on-error-container-dark-rgb: 255 180 171;
  --md-sys-color-background-dark: #1b1c19;
  --md-sys-color-background-dark-rgb: 27 28 25;
  --md-sys-color-on-background-dark: #e4e2de;
  --md-sys-color-on-background-dark-rgb: 228 226 222;
  --md-sys-color-surface-dark: #1b1c19;
  --md-sys-color-surface-dark-rgb: 27 28 25;
  --md-sys-color-on-surface-dark: #e4e2de;
  --md-sys-color-on-surface-dark-rgb: 228 226 222;
  --md-sys-color-surface-variant-dark: #454842;
  --md-sys-color-surface-variant-dark-rgb: 69 72 66;
  --md-sys-color-on-surface-variant-dark: #c5c7bf;
  --md-sys-color-on-surface-variant-dark-rgb: 197 199 191;
  --md-sys-color-outline-dark: #8f928a;
  --md-sys-color-outline-dark-rgb: 143 146 138;
  --md-sys-color-outline-variant-dark: #454842;
  --md-sys-color-outline-variant-dark-rgb: 69 72 66;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-shadow-dark-rgb: 0 0 0;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-scrim-dark-rgb: 0 0 0;
  --md-sys-color-inverse-surface-dark: #e4e2de;
  --md-sys-color-inverse-surface-dark-rgb: 228 226 222;
  --md-sys-color-inverse-on-surface-dark: #30312e;
  --md-sys-color-inverse-on-surface-dark-rgb: 48 49 46;
  --md-sys-color-inverse-primary-dark: #47673b;
  --md-sys-color-inverse-primary-dark-rgb: 71 103 59;
  --md-sys-color-surface-tint-dark: #acd19b;
  --md-sys-color-surface-tint-dark-rgb: 172 209 155;
  --md-sys-color-surface-tint-color-dark: #acd19b;
  --md-sys-color-surface-tint-color-dark-rgb: 172 209 155;
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary0-rgb: 0 0 0;
  --md-ref-palette-primary5: #011500;
  --md-ref-palette-primary5-rgb: 1 21 0;
  --md-ref-palette-primary10: #032100;
  --md-ref-palette-primary10-rgb: 3 33 0;
  --md-ref-palette-primary15: #052d00;
  --md-ref-palette-primary15-rgb: 5 45 0;
  --md-ref-palette-primary20: #083900;
  --md-ref-palette-primary20-rgb: 8 57 0;
  --md-ref-palette-primary25: #0c4600;
  --md-ref-palette-primary25-rgb: 12 70 0;
  --md-ref-palette-primary30: #1a520c;
  --md-ref-palette-primary30-rgb: 26 82 12;
  --md-ref-palette-primary35: #275e18;
  --md-ref-palette-primary35-rgb: 39 94 24;
  --md-ref-palette-primary40: #336b23;
  --md-ref-palette-primary40-rgb: 51 107 35;
  --md-ref-palette-primary50: #4b843a;
  --md-ref-palette-primary50-rgb: 75 132 58;
  --md-ref-palette-primary60: #649f51;
  --md-ref-palette-primary60-rgb: 100 159 81;
  --md-ref-palette-primary70: #7eba69;
  --md-ref-palette-primary70-rgb: 126 186 105;
  --md-ref-palette-primary80: #98d781;
  --md-ref-palette-primary80-rgb: 152 215 129;
  --md-ref-palette-primary90: #b4f39b;
  --md-ref-palette-primary90-rgb: 180 243 155;
  --md-ref-palette-primary95: #cbffb5;
  --md-ref-palette-primary95-rgb: 203 255 181;
  --md-ref-palette-primary98: #edffe0;
  --md-ref-palette-primary98-rgb: 237 255 224;
  --md-ref-palette-primary99: #f7ffed;
  --md-ref-palette-primary99-rgb: 247 255 237;
  --md-ref-palette-primary100: #ffffff;
  --md-ref-palette-primary100-rgb: 255 255 255;
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary0-rgb: 0 0 0;
  --md-ref-palette-secondary5: #081405;
  --md-ref-palette-secondary5-rgb: 8 20 5;
  --md-ref-palette-secondary10: #121f0e;
  --md-ref-palette-secondary10-rgb: 18 31 14;
  --md-ref-palette-secondary15: #1c2917;
  --md-ref-palette-secondary15-rgb: 28 41 23;
  --md-ref-palette-secondary20: #273421;
  --md-ref-palette-secondary20-rgb: 39 52 33;
  --md-ref-palette-secondary25: #323f2c;
  --md-ref-palette-secondary25-rgb: 50 63 44;
  --md-ref-palette-secondary30: #3d4b36;
  --md-ref-palette-secondary30-rgb: 61 75 54;
  --md-ref-palette-secondary35: #485641;
  --md-ref-palette-secondary35-rgb: 72 86 65;
  --md-ref-palette-secondary40: #54624d;
  --md-ref-palette-secondary40-rgb: 84 98 77;
  --md-ref-palette-secondary50: #6d7b64;
  --md-ref-palette-secondary50-rgb: 109 123 100;
  --md-ref-palette-secondary60: #86957d;
  --md-ref-palette-secondary60-rgb: 134 149 125;
  --md-ref-palette-secondary70: #a0b096;
  --md-ref-palette-secondary70-rgb: 160 176 150;
  --md-ref-palette-secondary80: #bccbb1;
  --md-ref-palette-secondary80-rgb: 188 203 177;
  --md-ref-palette-secondary90: #d8e7cc;
  --md-ref-palette-secondary90-rgb: 216 231 204;
  --md-ref-palette-secondary95: #e6f6da;
  --md-ref-palette-secondary95-rgb: 230 246 218;
  --md-ref-palette-secondary98: #eefee2;
  --md-ref-palette-secondary98-rgb: 238 254 226;
  --md-ref-palette-secondary99: #f7ffed;
  --md-ref-palette-secondary99-rgb: 247 255 237;
  --md-ref-palette-secondary100: #ffffff;
  --md-ref-palette-secondary100-rgb: 255 255 255;
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary0-rgb: 0 0 0;
  --md-ref-palette-tertiary5: #001415;
  --md-ref-palette-tertiary5-rgb: 0 20 21;
  --md-ref-palette-tertiary10: #002021;
  --md-ref-palette-tertiary10-rgb: 0 32 33;
  --md-ref-palette-tertiary15: #002b2d;
  --md-ref-palette-tertiary15-rgb: 0 43 45;
  --md-ref-palette-tertiary20: #003739;
  --md-ref-palette-tertiary20-rgb: 0 55 57;
  --md-ref-palette-tertiary25: #0f4244;
  --md-ref-palette-tertiary25-rgb: 15 66 68;
  --md-ref-palette-tertiary30: #1e4e50;
  --md-ref-palette-tertiary30-rgb: 30 78 80;
  --md-ref-palette-tertiary35: #2b595c;
  --md-ref-palette-tertiary35-rgb: 43 89 92;
  --md-ref-palette-tertiary40: #386668;
  --md-ref-palette-tertiary40-rgb: 56 102 104;
  --md-ref-palette-tertiary50: #517f81;
  --md-ref-palette-tertiary50-rgb: 81 127 129;
  --md-ref-palette-tertiary60: #6b999b;
  --md-ref-palette-tertiary60-rgb: 107 153 155;
  --md-ref-palette-tertiary70: #85b3b5;
  --md-ref-palette-tertiary70-rgb: 133 179 181;
  --md-ref-palette-tertiary80: #a0cfd1;
  --md-ref-palette-tertiary80-rgb: 160 207 209;
  --md-ref-palette-tertiary90: #bcebed;
  --md-ref-palette-tertiary90-rgb: 188 235 237;
  --md-ref-palette-tertiary95: #cafafc;
  --md-ref-palette-tertiary95-rgb: 202 250 252;
  --md-ref-palette-tertiary98: #e5feff;
  --md-ref-palette-tertiary98-rgb: 229 254 255;
  --md-ref-palette-tertiary99: #f1ffff;
  --md-ref-palette-tertiary99-rgb: 241 255 255;
  --md-ref-palette-tertiary100: #ffffff;
  --md-ref-palette-tertiary100-rgb: 255 255 255;
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral0-rgb: 0 0 0;
  --md-ref-palette-neutral5: #0f120e;
  --md-ref-palette-neutral5-rgb: 15 18 14;
  --md-ref-palette-neutral10: #1a1c18;
  --md-ref-palette-neutral10-rgb: 26 28 24;
  --md-ref-palette-neutral15: #242622;
  --md-ref-palette-neutral15-rgb: 36 38 34;
  --md-ref-palette-neutral20: #2f312d;
  --md-ref-palette-neutral20-rgb: 47 49 45;
  --md-ref-palette-neutral25: #3a3c38;
  --md-ref-palette-neutral25-rgb: 58 60 56;
  --md-ref-palette-neutral30: #454743;
  --md-ref-palette-neutral30-rgb: 69 71 67;
  --md-ref-palette-neutral35: #51534e;
  --md-ref-palette-neutral35-rgb: 81 83 78;
  --md-ref-palette-neutral40: #5d5f5a;
  --md-ref-palette-neutral40-rgb: 93 95 90;
  --md-ref-palette-neutral50: #767872;
  --md-ref-palette-neutral50-rgb: 118 120 114;
  --md-ref-palette-neutral60: #90918c;
  --md-ref-palette-neutral60-rgb: 144 145 140;
  --md-ref-palette-neutral70: #abaca6;
  --md-ref-palette-neutral70-rgb: 171 172 166;
  --md-ref-palette-neutral80: #c6c7c1;
  --md-ref-palette-neutral80-rgb: 198 199 193;
  --md-ref-palette-neutral90: #e3e3dc;
  --md-ref-palette-neutral90-rgb: 227 227 220;
  --md-ref-palette-neutral95: #f1f1ea;
  --md-ref-palette-neutral95-rgb: 241 241 234;
  --md-ref-palette-neutral98: #fafaf3;
  --md-ref-palette-neutral98-rgb: 250 250 243;
  --md-ref-palette-neutral99: #fdfdf6;
  --md-ref-palette-neutral99-rgb: 253 253 246;
  --md-ref-palette-neutral100: #ffffff;
  --md-ref-palette-neutral100-rgb: 255 255 255;
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant0-rgb: 0 0 0;
  --md-ref-palette-neutral-variant5: #0d120b;
  --md-ref-palette-neutral-variant5-rgb: 13 18 11;
  --md-ref-palette-neutral-variant10: #181d15;
  --md-ref-palette-neutral-variant10-rgb: 24 29 21;
  --md-ref-palette-neutral-variant15: #22271f;
  --md-ref-palette-neutral-variant15-rgb: 34 39 31;
  --md-ref-palette-neutral-variant20: #2d3229;
  --md-ref-palette-neutral-variant20-rgb: 45 50 41;
  --md-ref-palette-neutral-variant25: #383d34;
  --md-ref-palette-neutral-variant25-rgb: 56 61 52;
  --md-ref-palette-neutral-variant30: #43483f;
  --md-ref-palette-neutral-variant30-rgb: 67 72 63;
  --md-ref-palette-neutral-variant35: #4f544a;
  --md-ref-palette-neutral-variant35-rgb: 79 84 74;
  --md-ref-palette-neutral-variant40: #5a6056;
  --md-ref-palette-neutral-variant40-rgb: 90 96 86;
  --md-ref-palette-neutral-variant50: #73796e;
  --md-ref-palette-neutral-variant50-rgb: 115 121 110;
  --md-ref-palette-neutral-variant60: #8d9387;
  --md-ref-palette-neutral-variant60-rgb: 141 147 135;
  --md-ref-palette-neutral-variant70: #a8ada1;
  --md-ref-palette-neutral-variant70-rgb: 168 173 161;
  --md-ref-palette-neutral-variant80: #c3c8bc;
  --md-ref-palette-neutral-variant80-rgb: 195 200 188;
  --md-ref-palette-neutral-variant90: #dfe4d7;
  --md-ref-palette-neutral-variant90-rgb: 223 228 215;
  --md-ref-palette-neutral-variant95: #edf3e5;
  --md-ref-palette-neutral-variant95-rgb: 237 243 229;
  --md-ref-palette-neutral-variant98: #f6fbee;
  --md-ref-palette-neutral-variant98-rgb: 246 251 238;
  --md-ref-palette-neutral-variant99: #f9fef0;
  --md-ref-palette-neutral-variant99-rgb: 249 254 240;
  --md-ref-palette-neutral-variant100: #ffffff;
  --md-ref-palette-neutral-variant100-rgb: 255 255 255;
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error0-rgb: 0 0 0;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error5-rgb: 45 0 1;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error10-rgb: 65 0 2;
  --md-ref-palette-error15: #540003;
  --md-ref-palette-error15-rgb: 84 0 3;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error20-rgb: 105 0 5;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error25-rgb: 126 0 7;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error30-rgb: 147 0 10;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error35-rgb: 168 7 16;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error40-rgb: 186 26 26;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error50-rgb: 222 55 48;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error60-rgb: 255 84 73;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error70-rgb: 255 137 125;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error80-rgb: 255 180 171;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error90-rgb: 255 218 214;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error95-rgb: 255 237 234;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error98-rgb: 255 248 247;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error99-rgb: 255 251 255;
  --md-ref-palette-error100: #ffffff;
  --md-ref-palette-error100-rgb: 255 255 255;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}