:root {
  --md-sys-color-primary: #adc6ff;
  --md-sys-color-primary-rgb: 173 198 255;
  --md-sys-color-on-primary: #002e69;
  --md-sys-color-on-primary-rgb: 0 46 105;
  --md-sys-color-primary-container: #004494;
  --md-sys-color-primary-container-rgb: 0 68 148;
  --md-sys-color-on-primary-container: #d8e2ff;
  --md-sys-color-on-primary-container-rgb: 216 226 255;
  --md-sys-color-secondary: #bbc6e4;
  --md-sys-color-secondary-rgb: 187 198 228;
  --md-sys-color-on-secondary: #253048;
  --md-sys-color-on-secondary-rgb: 37 48 72;
  --md-sys-color-secondary-container: #3b475f;
  --md-sys-color-secondary-container-rgb: 59 71 95;
  --md-sys-color-on-secondary-container: #d8e2ff;
  --md-sys-color-on-secondary-container-rgb: 216 226 255;
  --md-sys-color-tertiary: #e5b8e8;
  --md-sys-color-tertiary-rgb: 229 184 232;
  --md-sys-color-on-tertiary: #44244a;
  --md-sys-color-on-tertiary-rgb: 68 36 74;
  --md-sys-color-tertiary-container: #5d3a62;
  --md-sys-color-tertiary-container-rgb: 93 58 98;
  --md-sys-color-on-tertiary-container: #fed6ff;
  --md-sys-color-on-tertiary-container-rgb: 254 214 255;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-rgb: 255 180 171;
  --md-sys-color-on-error: #690005;
  --md-sys-color-on-error-rgb: 105 0 5;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-error-container-rgb: 147 0 10;
  --md-sys-color-on-error-container: #ffb4ab;
  --md-sys-color-on-error-container-rgb: 255 180 171;
  --md-sys-color-background: #1b1b1f;
  --md-sys-color-background-rgb: 27 27 31;
  --md-sys-color-on-background: #e3e2e6;
  --md-sys-color-on-background-rgb: 227 226 230;
  --md-sys-color-surface: #1b1b1f;
  --md-sys-color-surface-rgb: 27 27 31;
  --md-sys-color-on-surface: #e3e2e6;
  --md-sys-color-on-surface-rgb: 227 226 230;
  --md-sys-color-surface-variant: #44474f;
  --md-sys-color-surface-variant-rgb: 68 71 79;
  --md-sys-color-on-surface-variant: #c4c6d0;
  --md-sys-color-on-surface-variant-rgb: 196 198 208;
  --md-sys-color-outline: #8e9099;
  --md-sys-color-outline-rgb: 142 144 153;
  --md-sys-color-outline-variant: #44474f;
  --md-sys-color-outline-variant-rgb: 68 71 79;
  --md-sys-color-shadow: #000000;
  --md-sys-color-shadow-rgb: 0 0 0;
  --md-sys-color-scrim: #000000;
  --md-sys-color-scrim-rgb: 0 0 0;
  --md-sys-color-inverse-surface: #e3e2e6;
  --md-sys-color-inverse-surface-rgb: 227 226 230;
  --md-sys-color-inverse-on-surface: #303033;
  --md-sys-color-inverse-on-surface-rgb: 48 48 51;
  --md-sys-color-inverse-primary: #005ac1;
  --md-sys-color-inverse-primary-rgb: 0 90 193;
  --md-sys-color-surface-tint: #adc6ff;
  --md-sys-color-surface-tint-rgb: 173 198 255;
  --md-sys-color-surface-tint-color: #adc6ff;
  --md-sys-color-surface-tint-color-rgb: 173 198 255;
  --md-sys-color-primary-light: #005ac1;
  --md-sys-color-primary-light-rgb: 0 90 193;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-on-primary-light-rgb: 255 255 255;
  --md-sys-color-primary-container-light: #d8e2ff;
  --md-sys-color-primary-container-light-rgb: 216 226 255;
  --md-sys-color-on-primary-container-light: #001a41;
  --md-sys-color-on-primary-container-light-rgb: 0 26 65;
  --md-sys-color-secondary-light: #535e78;
  --md-sys-color-secondary-light-rgb: 83 94 120;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-on-secondary-light-rgb: 255 255 255;
  --md-sys-color-secondary-container-light: #d8e2ff;
  --md-sys-color-secondary-container-light-rgb: 216 226 255;
  --md-sys-color-on-secondary-container-light: #0f1b32;
  --md-sys-color-on-secondary-container-light-rgb: 15 27 50;
  --md-sys-color-tertiary-light: #76517b;
  --md-sys-color-tertiary-light-rgb: 118 81 123;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-on-tertiary-light-rgb: 255 255 255;
  --md-sys-color-tertiary-container-light: #fed6ff;
  --md-sys-color-tertiary-container-light-rgb: 254 214 255;
  --md-sys-color-on-tertiary-container-light: #2d0e34;
  --md-sys-color-on-tertiary-container-light-rgb: 45 14 52;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-light-rgb: 186 26 26;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-light-rgb: 255 255 255;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-error-container-light-rgb: 255 218 214;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-on-error-container-light-rgb: 65 0 2;
  --md-sys-color-background-light: #fefbff;
  --md-sys-color-background-light-rgb: 254 251 255;
  --md-sys-color-on-background-light: #1b1b1f;
  --md-sys-color-on-background-light-rgb: 27 27 31;
  --md-sys-color-surface-light: #fefbff;
  --md-sys-color-surface-light-rgb: 254 251 255;
  --md-sys-color-on-surface-light: #1b1b1f;
  --md-sys-color-on-surface-light-rgb: 27 27 31;
  --md-sys-color-surface-variant-light: #e1e2ec;
  --md-sys-color-surface-variant-light-rgb: 225 226 236;
  --md-sys-color-on-surface-variant-light: #44474f;
  --md-sys-color-on-surface-variant-light-rgb: 68 71 79;
  --md-sys-color-outline-light: #74777f;
  --md-sys-color-outline-light-rgb: 116 119 127;
  --md-sys-color-outline-variant-light: #c4c6d0;
  --md-sys-color-outline-variant-light-rgb: 196 198 208;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-shadow-light-rgb: 0 0 0;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-scrim-light-rgb: 0 0 0;
  --md-sys-color-inverse-surface-light: #303033;
  --md-sys-color-inverse-surface-light-rgb: 48 48 51;
  --md-sys-color-inverse-on-surface-light: #f2f0f4;
  --md-sys-color-inverse-on-surface-light-rgb: 242 240 244;
  --md-sys-color-inverse-primary-light: #adc6ff;
  --md-sys-color-inverse-primary-light-rgb: 173 198 255;
  --md-sys-color-surface-tint-light: #005ac1;
  --md-sys-color-surface-tint-light-rgb: 0 90 193;
  --md-sys-color-surface-tint-color-light: #005ac1;
  --md-sys-color-surface-tint-color-light-rgb: 0 90 193;
  --md-sys-color-primary-dark: #adc6ff;
  --md-sys-color-primary-dark-rgb: 173 198 255;
  --md-sys-color-on-primary-dark: #002e69;
  --md-sys-color-on-primary-dark-rgb: 0 46 105;
  --md-sys-color-primary-container-dark: #004494;
  --md-sys-color-primary-container-dark-rgb: 0 68 148;
  --md-sys-color-on-primary-container-dark: #d8e2ff;
  --md-sys-color-on-primary-container-dark-rgb: 216 226 255;
  --md-sys-color-secondary-dark: #bbc6e4;
  --md-sys-color-secondary-dark-rgb: 187 198 228;
  --md-sys-color-on-secondary-dark: #253048;
  --md-sys-color-on-secondary-dark-rgb: 37 48 72;
  --md-sys-color-secondary-container-dark: #3b475f;
  --md-sys-color-secondary-container-dark-rgb: 59 71 95;
  --md-sys-color-on-secondary-container-dark: #d8e2ff;
  --md-sys-color-on-secondary-container-dark-rgb: 216 226 255;
  --md-sys-color-tertiary-dark: #e5b8e8;
  --md-sys-color-tertiary-dark-rgb: 229 184 232;
  --md-sys-color-on-tertiary-dark: #44244a;
  --md-sys-color-on-tertiary-dark-rgb: 68 36 74;
  --md-sys-color-tertiary-container-dark: #5d3a62;
  --md-sys-color-tertiary-container-dark-rgb: 93 58 98;
  --md-sys-color-on-tertiary-container-dark: #fed6ff;
  --md-sys-color-on-tertiary-container-dark-rgb: 254 214 255;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-dark-rgb: 255 180 171;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-dark-rgb: 105 0 5;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-error-container-dark-rgb: 147 0 10;
  --md-sys-color-on-error-container-dark: #ffb4ab;
  --md-sys-color-on-error-container-dark-rgb: 255 180 171;
  --md-sys-color-background-dark: #1b1b1f;
  --md-sys-color-background-dark-rgb: 27 27 31;
  --md-sys-color-on-background-dark: #e3e2e6;
  --md-sys-color-on-background-dark-rgb: 227 226 230;
  --md-sys-color-surface-dark: #1b1b1f;
  --md-sys-color-surface-dark-rgb: 27 27 31;
  --md-sys-color-on-surface-dark: #e3e2e6;
  --md-sys-color-on-surface-dark-rgb: 227 226 230;
  --md-sys-color-surface-variant-dark: #44474f;
  --md-sys-color-surface-variant-dark-rgb: 68 71 79;
  --md-sys-color-on-surface-variant-dark: #c4c6d0;
  --md-sys-color-on-surface-variant-dark-rgb: 196 198 208;
  --md-sys-color-outline-dark: #8e9099;
  --md-sys-color-outline-dark-rgb: 142 144 153;
  --md-sys-color-outline-variant-dark: #44474f;
  --md-sys-color-outline-variant-dark-rgb: 68 71 79;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-shadow-dark-rgb: 0 0 0;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-scrim-dark-rgb: 0 0 0;
  --md-sys-color-inverse-surface-dark: #e3e2e6;
  --md-sys-color-inverse-surface-dark-rgb: 227 226 230;
  --md-sys-color-inverse-on-surface-dark: #303033;
  --md-sys-color-inverse-on-surface-dark-rgb: 48 48 51;
  --md-sys-color-inverse-primary-dark: #005ac1;
  --md-sys-color-inverse-primary-dark-rgb: 0 90 193;
  --md-sys-color-surface-tint-dark: #adc6ff;
  --md-sys-color-surface-tint-dark-rgb: 173 198 255;
  --md-sys-color-surface-tint-color-dark: #adc6ff;
  --md-sys-color-surface-tint-color-dark-rgb: 173 198 255;
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary0-rgb: 0 0 0;
  --md-ref-palette-primary5: #00102d;
  --md-ref-palette-primary5-rgb: 0 16 45;
  --md-ref-palette-primary10: #001a41;
  --md-ref-palette-primary10-rgb: 0 26 65;
  --md-ref-palette-primary15: #002455;
  --md-ref-palette-primary15-rgb: 0 36 85;
  --md-ref-palette-primary20: #002e69;
  --md-ref-palette-primary20-rgb: 0 46 105;
  --md-ref-palette-primary25: #00397e;
  --md-ref-palette-primary25-rgb: 0 57 126;
  --md-ref-palette-primary30: #004494;
  --md-ref-palette-primary30-rgb: 0 68 148;
  --md-ref-palette-primary35: #004faa;
  --md-ref-palette-primary35-rgb: 0 79 170;
  --md-ref-palette-primary40: #005ac1;
  --md-ref-palette-primary40-rgb: 0 90 193;
  --md-ref-palette-primary50: #2b74e2;
  --md-ref-palette-primary50-rgb: 43 116 226;
  --md-ref-palette-primary60: #4d8efe;
  --md-ref-palette-primary60-rgb: 77 142 254;
  --md-ref-palette-primary70: #80aaff;
  --md-ref-palette-primary70-rgb: 128 170 255;
  --md-ref-palette-primary80: #adc6ff;
  --md-ref-palette-primary80-rgb: 173 198 255;
  --md-ref-palette-primary90: #d8e2ff;
  --md-ref-palette-primary90-rgb: 216 226 255;
  --md-ref-palette-primary95: #edf0ff;
  --md-ref-palette-primary95-rgb: 237 240 255;
  --md-ref-palette-primary98: #f9f9ff;
  --md-ref-palette-primary98-rgb: 249 249 255;
  --md-ref-palette-primary99: #fefbff;
  --md-ref-palette-primary99-rgb: 254 251 255;
  --md-ref-palette-primary100: #ffffff;
  --md-ref-palette-primary100-rgb: 255 255 255;
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary0-rgb: 0 0 0;
  --md-ref-palette-secondary5: #091120;
  --md-ref-palette-secondary5-rgb: 9 17 32;
  --md-ref-palette-secondary10: #141b2c;
  --md-ref-palette-secondary10-rgb: 20 27 44;
  --md-ref-palette-secondary15: #1e2636;
  --md-ref-palette-secondary15-rgb: 30 38 54;
  --md-ref-palette-secondary20: #293041;
  --md-ref-palette-secondary20-rgb: 41 48 65;
  --md-ref-palette-secondary25: #343b4d;
  --md-ref-palette-secondary25-rgb: 52 59 77;
  --md-ref-palette-secondary30: #3f4759;
  --md-ref-palette-secondary30-rgb: 63 71 89;
  --md-ref-palette-secondary35: #4b5265;
  --md-ref-palette-secondary35-rgb: 75 82 101;
  --md-ref-palette-secondary40: #575e71;
  --md-ref-palette-secondary40-rgb: 87 94 113;
  --md-ref-palette-secondary50: #6f778b;
  --md-ref-palette-secondary50-rgb: 111 119 139;
  --md-ref-palette-secondary60: #8991a5;
  --md-ref-palette-secondary60-rgb: 137 145 165;
  --md-ref-palette-secondary70: #a3abc0;
  --md-ref-palette-secondary70-rgb: 163 171 192;
  --md-ref-palette-secondary80: #bfc6dc;
  --md-ref-palette-secondary80-rgb: 191 198 220;
  --md-ref-palette-secondary90: #dbe2f9;
  --md-ref-palette-secondary90-rgb: 219 226 249;
  --md-ref-palette-secondary95: #edf0ff;
  --md-ref-palette-secondary95-rgb: 237 240 255;
  --md-ref-palette-secondary98: #f9f9ff;
  --md-ref-palette-secondary98-rgb: 249 249 255;
  --md-ref-palette-secondary99: #fefbff;
  --md-ref-palette-secondary99-rgb: 254 251 255;
  --md-ref-palette-secondary100: #ffffff;
  --md-ref-palette-secondary100-rgb: 255 255 255;
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary0-rgb: 0 0 0;
  --md-ref-palette-tertiary5: #1d0822;
  --md-ref-palette-tertiary5-rgb: 29 8 34;
  --md-ref-palette-tertiary10: #29132d;
  --md-ref-palette-tertiary10-rgb: 41 19 45;
  --md-ref-palette-tertiary15: #341d38;
  --md-ref-palette-tertiary15-rgb: 52 29 56;
  --md-ref-palette-tertiary20: #402843;
  --md-ref-palette-tertiary20-rgb: 64 40 67;
  --md-ref-palette-tertiary25: #4c334f;
  --md-ref-palette-tertiary25-rgb: 76 51 79;
  --md-ref-palette-tertiary30: #583e5b;
  --md-ref-palette-tertiary30-rgb: 88 62 91;
  --md-ref-palette-tertiary35: #644967;
  --md-ref-palette-tertiary35-rgb: 100 73 103;
  --md-ref-palette-tertiary40: #715573;
  --md-ref-palette-tertiary40-rgb: 113 85 115;
  --md-ref-palette-tertiary50: #8b6d8d;
  --md-ref-palette-tertiary50-rgb: 139 109 141;
  --md-ref-palette-tertiary60: #a687a8;
  --md-ref-palette-tertiary60-rgb: 166 135 168;
  --md-ref-palette-tertiary70: #c2a1c3;
  --md-ref-palette-tertiary70-rgb: 194 161 195;
  --md-ref-palette-tertiary80: #debcdf;
  --md-ref-palette-tertiary80-rgb: 222 188 223;
  --md-ref-palette-tertiary90: #fbd7fc;
  --md-ref-palette-tertiary90-rgb: 251 215 252;
  --md-ref-palette-tertiary95: #ffebfc;
  --md-ref-palette-tertiary95-rgb: 255 235 252;
  --md-ref-palette-tertiary98: #fff7fa;
  --md-ref-palette-tertiary98-rgb: 255 247 250;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary99-rgb: 255 251 255;
  --md-ref-palette-tertiary100: #ffffff;
  --md-ref-palette-tertiary100-rgb: 255 255 255;
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral0-rgb: 0 0 0;
  --md-ref-palette-neutral5: #101114;
  --md-ref-palette-neutral5-rgb: 16 17 20;
  --md-ref-palette-neutral10: #1b1b1f;
  --md-ref-palette-neutral10-rgb: 27 27 31;
  --md-ref-palette-neutral15: #252629;
  --md-ref-palette-neutral15-rgb: 37 38 41;
  --md-ref-palette-neutral20: #303033;
  --md-ref-palette-neutral20-rgb: 48 48 51;
  --md-ref-palette-neutral25: #3b3b3f;
  --md-ref-palette-neutral25-rgb: 59 59 63;
  --md-ref-palette-neutral30: #46464a;
  --md-ref-palette-neutral30-rgb: 70 70 74;
  --md-ref-palette-neutral35: #525256;
  --md-ref-palette-neutral35-rgb: 82 82 86;
  --md-ref-palette-neutral40: #5e5e62;
  --md-ref-palette-neutral40-rgb: 94 94 98;
  --md-ref-palette-neutral50: #77777a;
  --md-ref-palette-neutral50-rgb: 119 119 122;
  --md-ref-palette-neutral60: #919094;
  --md-ref-palette-neutral60-rgb: 145 144 148;
  --md-ref-palette-neutral70: #ababaf;
  --md-ref-palette-neutral70-rgb: 171 171 175;
  --md-ref-palette-neutral80: #c7c6ca;
  --md-ref-palette-neutral80-rgb: 199 198 202;
  --md-ref-palette-neutral90: #e3e2e6;
  --md-ref-palette-neutral90-rgb: 227 226 230;
  --md-ref-palette-neutral95: #f2f0f4;
  --md-ref-palette-neutral95-rgb: 242 240 244;
  --md-ref-palette-neutral98: #faf9fd;
  --md-ref-palette-neutral98-rgb: 250 249 253;
  --md-ref-palette-neutral99: #fefbff;
  --md-ref-palette-neutral99-rgb: 254 251 255;
  --md-ref-palette-neutral100: #ffffff;
  --md-ref-palette-neutral100-rgb: 255 255 255;
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant0-rgb: 0 0 0;
  --md-ref-palette-neutral-variant5: #0e1118;
  --md-ref-palette-neutral-variant5-rgb: 14 17 24;
  --md-ref-palette-neutral-variant10: #191b22;
  --md-ref-palette-neutral-variant10-rgb: 25 27 34;
  --md-ref-palette-neutral-variant15: #23262d;
  --md-ref-palette-neutral-variant15-rgb: 35 38 45;
  --md-ref-palette-neutral-variant20: #2e3038;
  --md-ref-palette-neutral-variant20-rgb: 46 48 56;
  --md-ref-palette-neutral-variant25: #393b43;
  --md-ref-palette-neutral-variant25-rgb: 57 59 67;
  --md-ref-palette-neutral-variant30: #44474f;
  --md-ref-palette-neutral-variant30-rgb: 68 71 79;
  --md-ref-palette-neutral-variant35: #50525a;
  --md-ref-palette-neutral-variant35-rgb: 80 82 90;
  --md-ref-palette-neutral-variant40: #5c5e66;
  --md-ref-palette-neutral-variant40-rgb: 92 94 102;
  --md-ref-palette-neutral-variant50: #74777f;
  --md-ref-palette-neutral-variant50-rgb: 116 119 127;
  --md-ref-palette-neutral-variant60: #8e9099;
  --md-ref-palette-neutral-variant60-rgb: 142 144 153;
  --md-ref-palette-neutral-variant70: #a9abb4;
  --md-ref-palette-neutral-variant70-rgb: 169 171 180;
  --md-ref-palette-neutral-variant80: #c4c6d0;
  --md-ref-palette-neutral-variant80-rgb: 196 198 208;
  --md-ref-palette-neutral-variant90: #e1e2ec;
  --md-ref-palette-neutral-variant90-rgb: 225 226 236;
  --md-ref-palette-neutral-variant95: #eff0fa;
  --md-ref-palette-neutral-variant95-rgb: 239 240 250;
  --md-ref-palette-neutral-variant98: #f9f9ff;
  --md-ref-palette-neutral-variant98-rgb: 249 249 255;
  --md-ref-palette-neutral-variant99: #fefbff;
  --md-ref-palette-neutral-variant99-rgb: 254 251 255;
  --md-ref-palette-neutral-variant100: #ffffff;
  --md-ref-palette-neutral-variant100-rgb: 255 255 255;
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error0-rgb: 0 0 0;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error5-rgb: 45 0 1;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error10-rgb: 65 0 2;
  --md-ref-palette-error15: #540003;
  --md-ref-palette-error15-rgb: 84 0 3;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error20-rgb: 105 0 5;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error25-rgb: 126 0 7;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error30-rgb: 147 0 10;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error35-rgb: 168 7 16;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error40-rgb: 186 26 26;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error50-rgb: 222 55 48;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error60-rgb: 255 84 73;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error70-rgb: 255 137 125;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error80-rgb: 255 180 171;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error90-rgb: 255 218 214;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error95-rgb: 255 237 234;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error98-rgb: 255 248 247;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error99-rgb: 255 251 255;
  --md-ref-palette-error100: #ffffff;
  --md-ref-palette-error100-rgb: 255 255 255;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}